.navbar {

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 500;
    transition: ease-in-out 0.3s;
}
[aria-controls="navbarDropdown"] {
    display: none;
}
.navbar .container {
    display: flex;
    align-items: center;
}
.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-brand {
    margin-right: auto;
    font-size: 2rem;
    font-weight: 700;
    width: 100%;
    transition: ease-in-out 0.3s;
}

.bg-header{
    background-image: url();
    background-color: var(--footer);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 20%;
    position: relative;
}